<nav class="hidden md:flex items-center gap-stack-lg">
  <a
    class="text-on-surface-variant font-body-md text-body-md hover:text-primary transition-colors duration-300"
    href="#">Villages</a
  >
  <a
    class="text-on-surface-variant font-body-md text-body-md hover:text-primary transition-colors duration-300"
    href="#">Experiences</a
  >
  <a
    class="text-on-surface-variant font-body-md text-body-md hover:text-primary transition-colors duration-300"
    href="#">Hiking</a
  >
  <a
    class="text-on-surface-variant font-body-md text-body-md hover:text-primary transition-colors duration-300"
    href="#">Beaches</a
  >
  <a
    class="text-on-surface-variant font-body-md text-body-md hover:text-primary transition-colors duration-300"
    href="#">Tips</a
  >
</nav>
