<section
  class="py-stack-xl max-w-container-max mx-auto px-gutter grid grid-cols-1 md:grid-cols-2 gap-stack-xl items-center"
>
  <div
    class="rounded-xl overflow-hidden shadow-2xl relative group h-150 bg-secondary"
  >
    <img
      alt="Traditional Ligurian food"
      class="absolute inset-0 w-full h-full object-cover group-hover:scale-105 transition-transform duration-700"
      src="https://lh3.googleusercontent.com/aida-public/AB6AXuCnIWFiCCA7TvpZK8lG3vzUa_4zKu67ikrfebOi4bA9i2stCprCHX_4I50oVmUQMfdBBaBLNv-5PSzpCks6YUlKplhp_IXv0FQDtC9_6-hlRwAFCTfmGGbPDpWNujUOQj0yua6-WVQQMuxj7Sj8CCXSdlJxBnQXPsiqbo2Gn8wnCe2IwpgPWC8wk-mW0IeIedrM_L488BdI1GQsrVc4oMO8SX5FO-7gbacTvrSuLu0wehHo3YNY0wQqdefFgoS8tA0QdKpbflhzqsAD"
    />
    <div
      class="absolute inset-0 bg-black/30 group-hover:bg-black/20 transition-all"
    >
    </div>
    <div class="absolute bottom-stack-lg left-stack-lg">
      <span
        class="text-white/80 font-label-sm text-label-sm uppercase tracking-widest mb-2 block"
        >Gastronomy</span
      >
      <h3 class="text-white font-headline-h2 text-headline-h2">
        A Taste of the Riviera
      </h3>
    </div>
  </div>
  <div class="space-y-stack-lg">
    <div>
      <h4 class="font-headline text-headline-h3 text-primary mb-2">
        Acciughe di Monterosso
      </h4>
      <p class="text-on-surface-variant">
        Salted anchovies prepared according to ancient local traditions. Best
        enjoyed with a slice of bread and butter.
      </p>
    </div>
    <div>
      <h4 class="font-headline text-headline-h3 text-primary mb-2">
        Trofie al Pesto
      </h4>
      <p class="text-on-surface-variant">
        The classic Ligurian pasta. Hand-rolled spirals served with fresh basil
        pesto, potatoes, and green beans.
      </p>
    </div>
    <div>
      <h4 class="font-headline text-headline-h3 text-primary mb-2">
        Sciacchetrà Wine
      </h4>
      <p class="text-on-surface-variant">
        A rare and precious sweet passito wine produced only in this region from
        sun-dried grapes.
      </p>
    </div>
    <div>
      <h4 class="font-headline text-headline-h3 text-primary mb-2">
        Focaccia Ligure
      </h4>
      <p class="text-on-surface-variant">
        Thick, oily, and perfectly salted. The ultimate street food while
        wandering through the carruggi.
      </p>
    </div>
  </div>
</section>
